Multi Agent Workflow/Multiagent Idea to Prd generation workflow.json
{
  "name": "Multiagent Idea to Prd generation workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1bnu6mBmpVw_mXWd-Clouopp_VsZ8hV7amTJIMk3_0TQ",
          "mode": "list",
          "cachedResultName": "Copy of AI Agent - Ideation and Product Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bnu6mBmpVw_mXWd-Clouopp_VsZ8hV7amTJIMk3_0TQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bnu6mBmpVw_mXWd-Clouopp_VsZ8hV7amTJIMk3_0TQ/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        32
      ],
      "id": "e26d08be-e6f1-40ad-ab79-a35a5ee6d48a",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "z8cAr1TohZHokumb",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Product Ideation Agent specializing in refining and expanding product concepts for successful market entry.\n\nCONTEXT:\n- Original Idea: {{$json.ideaDescription}}\n- Business Context: {{$json.businessContext}}\n- Target Audience: {{$json.targetAudience}}\n- Constraints: {{$json.constraints}}\n- Timeline: {{$json.timelinePreference}}\n\nYOUR EXPERTISE:\nYou excel at transforming rough ideas into clear, actionable product concepts. You understand market dynamics, user psychology, and product-market fit principles.\n\nTASKS:\n1. REFINE the original idea for maximum clarity, feasibility, and market appeal\n2. GENERATE 2-3 strategic alternative variations that address the same core need\n3. IDENTIFY the fundamental user problems and pain points being solved\n4. SUGGEST 4-6 key features that deliver core value (prioritize MVP essentials)\n5. ARTICULATE the unique value proposition that differentiates from competitors\n6. ASSESS the idea's innovation potential and market disruption opportunity\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"refined_idea\": \"A clear, compelling product description in 2-3 sentences\",\n    \"alternatives\": [\"Alternative approach 1\", \"Alternative approach 2\", \"Alternative approach 3\"],\n    \"core_problems\": [\"Primary user pain point\", \"Secondary user pain point\", \"Business problem solved\"],\n    \"key_features\": [\"Essential feature 1\", \"Essential feature 2\", \"Essential feature 3\", \"Key differentiator feature\"],\n    \"value_proposition\": \"Single sentence explaining why users will choose this over alternatives\",\n    \"innovation_score\": 8,\n    \"feasibility_assessment\": \"Brief assessment of technical and business feasibility\"\n}\n\nIMPORTANT: Respond ONLY with the JSON object. No additional text or explanations outside the JSON structure.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        32
      ],
      "id": "a9a399a5-a53b-4af7-ac58-8b57fdc11115",
      "name": "Ideation Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        240
      ],
      "id": "aa90cda5-7252-478a-8346-49b4d2eb2238",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bsCSqjnpkpQNoO5V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse =\n    items[0]?.json?.output ??\n    items[0]?.json?.text ??\n    items[0]?.json?.response;\n\ntry {\n    let ideationResult;\n\n    if (typeof aiResponse === 'string') {\n        let cleanResponse = aiResponse.trim();\n\n        // ✅ FIX 1: If response is inside ```json ``` extract it (do NOT delete content)\n        const fencedMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n        if (fencedMatch) {\n            cleanResponse = fencedMatch[1].trim();\n        }\n\n        // ✅ FIX 2: Fallback – extract first JSON object if extra text exists\n        const jsonMatch = cleanResponse.match(/\\{[\\s\\S]*\\}/);\n        if (jsonMatch) {\n            cleanResponse = jsonMatch[0];\n        }\n\n        ideationResult = JSON.parse(cleanResponse);\n    } else {\n        ideationResult = aiResponse;\n    }\n\n    // ✅ FIX 3: Validate required fields\n    const requiredFields = [\n        'refined_idea',\n        'alternatives',\n        'core_problems',\n        'key_features',\n        'value_proposition'\n    ];\n\n    for (const field of requiredFields) {\n        if (!(field in ideationResult)) {\n            throw new Error(`Missing required field: ${field}`);\n        }\n    }\n\n    // ✅ FIX 4: Normalize arrays (prevent crashes downstream)\n    ideationResult.alternatives = Array.isArray(ideationResult.alternatives)\n        ? ideationResult.alternatives\n        : [];\n\n    ideationResult.core_problems = Array.isArray(ideationResult.core_problems)\n        ? ideationResult.core_problems\n        : [];\n\n    ideationResult.key_features = Array.isArray(ideationResult.key_features)\n        ? ideationResult.key_features\n        : [];\n\n    return [{\n        json: {\n            ...items[0].json,\n            ideationResult\n        }\n    }];\n\n} catch (error) {\n    console.error('Error parsing ideation response:', error, aiResponse);\n    throw new Error(`Failed to parse ideation agent response: ${error.message}`);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        32
      ],
      "id": "2e3f3192-b427-4277-a0cd-e687cb907012",
      "name": "Code Output Ideation Agent"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst requiredFields = ['idea_description', 'business_context'];\nconst inputData = items[0].json;\n\nfor (const field of requiredFields) {\n    if (!inputData[field] || inputData[field].trim() === '') {\n        throw new Error(`Missing required field: ${field}`);\n    }\n}\n\n// Clean and structure data\nconst processedInput = {\n    ideaDescription: inputData.idea_description.trim(),\n    businessContext: inputData.business_context.trim(),\n    targetAudience: inputData.target_audience || 'General users',\n    constraints: inputData.constraints || 'No specific constraints',\n    timelinePreference: inputData.timeline_preference || '3-6 months'\n};\n\nreturn [{ json: processedInput }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        32
      ],
      "id": "f4c4d6cd-cb42-4347-801b-f2058c800fca",
      "name": "Code Output Google Sheet"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "96f2832e-e071-476e-bc90-91167777d79a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "bsCSqjnpkpQNoO5V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Market Research Agent with expertise in competitive analysis, market sizing, and trend identification across various industries.\n\nCONTEXT:\n- Product Idea: {{$json.ideationResult.refined_idea}}\n- Target Audience: {{ $('Code Output Google Sheet').item.json.targetAudience }}\n- Key Features: {{$json.ideationResult.key_features}}\n- Value Proposition: {{$json.ideationResult.value_proposition}}\n- Business Context: {{ $('Code Output Google Sheet').item.json.businessContext }}\n\nYOUR EXPERTISE:\nYou have deep knowledge of market dynamics, competitive landscapes, consumer behavior, and emerging trends. You provide data-driven insights that inform strategic decisions.\n\nANALYSIS FRAMEWORK:\n1. MARKET SIZE: Estimate the Total Addressable Market (TAM) and Serviceable Available Market (SAM)\n2. COMPETITIVE LANDSCAPE: Identify direct and indirect competitors with their strengths/weaknesses\n3. TREND ANALYSIS: Highlight relevant market trends, technological shifts, and consumer behavior changes\n4. OPPORTUNITY ASSESSMENT: Evaluate market gaps and white space opportunities\n5. RISK EVALUATION: Identify potential market, competitive, and regulatory risks\n6. MARKET TIMING: Assess whether market conditions are favorable for entry\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"market_size\": \"Detailed market size estimation with TAM/SAM breakdown\",\n    \"market_growth_rate\": \"Expected annual growth rate with rationale\",\n    \"competitors\": [\n        {\n            \"name\": \"Competitor 1\",\n            \"strength\": \"Key competitive advantage\",\n            \"weakness\": \"Main vulnerability\",\n            \"market_share\": \"Estimated market position\"\n        },\n        {\n            \"name\": \"Competitor 2\",\n            \"strength\": \"Key competitive advantage\",\n            \"weakness\": \"Main vulnerability\",\n            \"market_share\": \"Estimated market position\"\n        }\n    ],\n    \"market_trends\": [\"Trend 1 with impact assessment\", \"Trend 2 with impact assessment\", \"Trend 3 with impact assessment\"],\n    \"opportunities\": [\"Market gap 1\", \"Market gap 2\", \"Emerging opportunity\"],\n    \"risks\": [\"Risk 1 with likelihood\", \"Risk 2 with likelihood\"],\n    \"attractiveness_score\": 8,\n    \"market_timing\": \"Assessment of entry timing (Excellent/Good/Fair/Poor)\",\n    \"market_summary\": \"Comprehensive 2-3 sentence market analysis summary\",\n    \"strategic_recommendations\": [\"Market entry strategy 1\", \"Market entry strategy 2\"]\n}\n\nIMPORTANT: Provide realistic, research-backed assessments. Use a 1-10 scale for attractiveness_score where 10 is extremely attractive. Respond ONLY with the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        32
      ],
      "id": "a2e247f9-957c-441a-831a-6c9ee2dcae2c",
      "name": "Market Research Agent"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response safely\nconst aiResponse =\n    items[0]?.json?.output ??\n    items[0]?.json?.text ??\n    items[0]?.json?.response;\n\ntry {\n    let marketResult;\n\n    if (typeof aiResponse === 'string') {\n        let cleanResponse = aiResponse.trim();\n\n        // ✅ FIX 1: Extract JSON from ```json ``` blocks (do not delete content)\n        const fencedMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n        if (fencedMatch) {\n            cleanResponse = fencedMatch[1].trim();\n        }\n\n        // ✅ FIX 2: Fallback – extract first JSON object if extra text exists\n        const jsonMatch = cleanResponse.match(/\\{[\\s\\S]*\\}/);\n        if (jsonMatch) {\n            cleanResponse = jsonMatch[0];\n        }\n\n        marketResult = JSON.parse(cleanResponse);\n    } else {\n        marketResult = aiResponse;\n    }\n\n    // ✅ FIX 3: Validate required fields (presence check)\n    const requiredFields = [\n        'market_size',\n        'competitors',\n        'attractiveness_score',\n        'market_summary'\n    ];\n\n    for (const field of requiredFields) {\n        if (!(field in marketResult)) {\n            throw new Error(`Missing required field: ${field}`);\n        }\n    }\n\n    // ✅ FIX 4: Normalize arrays to avoid downstream crashes\n    marketResult.competitors = Array.isArray(marketResult.competitors)\n        ? marketResult.competitors\n        : [];\n\n    marketResult.market_trends = Array.isArray(marketResult.market_trends)\n        ? marketResult.market_trends\n        : [];\n\n    marketResult.opportunities = Array.isArray(marketResult.opportunities)\n        ? marketResult.opportunities\n        : [];\n\n    marketResult.risks = Array.isArray(marketResult.risks)\n        ? marketResult.risks\n        : [];\n\n    // ✅ FIX 5: Validate & clamp attractiveness score\n    if (typeof marketResult.attractiveness_score !== 'number') {\n        marketResult.attractiveness_score = Number(marketResult.attractiveness_score);\n    }\n\n    if (\n        isNaN(marketResult.attractiveness_score) ||\n        marketResult.attractiveness_score < 1 ||\n        marketResult.attractiveness_score > 10\n    ) {\n        marketResult.attractiveness_score = 5;\n    }\n\n    return [{\n        json: {\n            ...items[0].json,\n            marketResult\n        }\n    }];\n\n} catch (error) {\n    console.error('Error parsing market research response:', error, aiResponse);\n    throw new Error(`Failed to parse market research agent response: ${error.message}`);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        32
      ],
      "id": "abd2559b-94ac-40c2-bb2b-c176e5a41c6b",
      "name": "Code Output Market Research Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Strategic Prioritization Agent specializing in product portfolio management and ROI optimization using industry-standard frameworks.\n\nCONTEXT:{{ $('Code Output Ideation Agent').item.json.ideationResult.refined_idea }}\n- Product Idea: \n- Key Features: {{ $('Code Output Ideation Agent').item.json.ideationResult.key_features }}\n- Market Analysis: {{$json.marketResult.market_summary}}\n- Market Attractiveness: {{$json.marketResult.attractiveness_score}}/10\n- Business Context: {{ $('Code Output Google Sheet').item.json.businessContext }}\n- Constraints: {{ $('Code Output Google Sheet').item.json.constraints }}\n- Timeline Preference: {{ $('Code Output Google Sheet').item.json.timelinePreference }}\n- Competitive Risks: {{$json.marketResult.risks}}\n\nYOUR EXPERTISE:\nYou apply proven prioritization frameworks (RICE, ICE, Value vs Effort, MoSCoW) to evaluate product opportunities. You balance quantitative metrics with strategic considerations.\n\nSCORING CRITERIA (Rate each 1-10 where 10 is best):\n1. BUSINESS VALUE: Revenue potential, strategic alignment, market size impact\n2. USER IMPACT: User satisfaction gain, problem significance, user base size affected\n3. EFFORT REQUIRED: Development complexity, resource requirements, time investment (10 = low effort, 1 = high effort)\n4. RISK LEVEL: Technical feasibility, market acceptance, execution risks (10 = low risk, 1 = high risk)\n5. MARKET TIMING: Market readiness, competitive window, trend alignment\n6. STRATEGIC FIT: Alignment with business goals, platform synergies, brand consistency\n\nCALCULATION: Priority Score = (Business Value + User Impact + Market Timing + Strategic Fit) - (Effort Required + Risk Level)\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"business_value\": 8,\n    \"user_impact\": 7,\n    \"effort_required\": 6,\n    \"risk_level\": 4,\n    \"market_timing\": 8,\n    \"strategic_fit\": 7,\n    \"calculated_score\": 20,\n    \"priority_tier\": \"High\",\n    \"confidence_level\": \"Medium\",\n    \"ice_score\": {\n        \"impact\": 8,\n        \"confidence\": 7,\n        \"ease\": 6\n    },\n    \"recommendation\": \"Proceed/Hold/Reject\",\n    \"justification\": \"2-3 sentence explanation of the scoring rationale and key factors\",\n    \"success_probability\": 75,\n    \"roi_estimate\": \"Expected return on investment assessment\",\n    \"critical_success_factors\": [\"Factor 1\", \"Factor 2\", \"Factor 3\"]\n}\n\nPRIORITY TIERS:\n- High (Score 15+): Immediate execution recommended\n- Medium (Score 8-14): Consider for next planning cycle\n- Low (Score <8): Revisit when constraints change\n\nIMPORTANT: Be objective and realistic. Consider the stated constraints heavily in your scoring. Respond ONLY with the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        32
      ],
      "id": "a030b4c0-efed-4526-99df-7a95ba27e0b4",
      "name": "Prioritization Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "id": "f79f51ec-0a0e-4582-8891-c9540f99450d",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "bsCSqjnpkpQNoO5V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response safely\nconst aiResponse =\n    items[0]?.json?.output ??\n    items[0]?.json?.text ??\n    items[0]?.json?.response;\n\ntry {\n    let priorityResult;\n\n    if (typeof aiResponse === 'string') {\n        let cleanResponse = aiResponse.trim();\n\n        // ✅ FIX 1: Extract JSON from fenced blocks (do not delete content)\n        const fencedMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n        if (fencedMatch) {\n            cleanResponse = fencedMatch[1].trim();\n        }\n\n        // ✅ FIX 2: Fallback – extract first JSON object\n        const jsonMatch = cleanResponse.match(/\\{[\\s\\S]*\\}/);\n        if (jsonMatch) {\n            cleanResponse = jsonMatch[0];\n        }\n\n        priorityResult = JSON.parse(cleanResponse);\n    } else {\n        priorityResult = aiResponse;\n    }\n\n    // ✅ FIX 3: Normalize and validate scores (1–10)\n    const scoreFields = [\n        'business_value',\n        'user_impact',\n        'effort_required',\n        'risk_level',\n        'market_timing',\n        'strategic_fit'\n    ];\n\n    for (const field of scoreFields) {\n        priorityResult[field] = Number(priorityResult[field]);\n\n        if (\n            isNaN(priorityResult[field]) ||\n            priorityResult[field] < 1 ||\n            priorityResult[field] > 10\n        ) {\n            priorityResult[field] = 5;\n        }\n    }\n\n    // ✅ FIX 4: Cleaner priority calculation\n    const positiveScore =\n        priorityResult.business_value +\n        priorityResult.user_impact +\n        priorityResult.market_timing +\n        priorityResult.strategic_fit;\n\n    const negativeScore =\n        priorityResult.effort_required +\n        priorityResult.risk_level;\n\n    priorityResult.calculated_score = Math.round(positiveScore - negativeScore);\n\n    // ✅ FIX 5: Priority tier\n    if (priorityResult.calculated_score >= 15) {\n        priorityResult.priority_tier = 'High';\n    } else if (priorityResult.calculated_score >= 8) {\n        priorityResult.priority_tier = 'Medium';\n    } else {\n        priorityResult.priority_tier = 'Low';\n    }\n\n    // ✅ FIX 6: Ensure arrays\n    priorityResult.critical_success_factors = Array.isArray(\n        priorityResult.critical_success_factors\n    )\n        ? priorityResult.critical_success_factors\n        : [];\n\n    // ✅ FIX 7: Correct ICE score logic\n    priorityResult.ice_score =\n        typeof priorityResult.ice_score === 'object'\n            ? priorityResult.ice_score\n            : {\n                  impact: priorityResult.user_impact,\n                  confidence: 5,\n                  ease: 11 - priorityResult.effort_required // inverted correctly\n              };\n\n    return [{\n        json: {\n            ...items[0].json,\n            priorityResult\n        }\n    }];\n\n} catch (error) {\n    console.error('Error parsing prioritization response:', error, aiResponse);\n    throw new Error(`Failed to parse prioritization agent response: ${error.message}`);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        32
      ],
      "id": "dd7306b0-bcf7-411f-96b7-623bf875b186",
      "name": "Code Output Prioritization Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Product Roadmap Agent specializing in agile product development, feature prioritization, and strategic execution planning.\n\nCONTEXT:\n- Product Idea: {{ $('Code Output Ideation Agent').item.json.ideationResult.refined_idea }}\n- Key Features: {{ $('Code Output Ideation Agent').item.json.ideationResult.key_features }}\n- Priority Score: {{$json.priorityResult.calculated_score}} ({{$json.priorityResult.priority_tier}} Priority)\n- Effort Assessment: {{$json.priorityResult.effort_required}}/10\n- Risk Level: {{$json.priorityResult.risk_level}}/10\n- Timeline Preference: {{ $('Code Output Google Sheet').item.json.timelinePreference }}\n- Business Constraints: {{ $('Code Output Google Sheet').item.json.constraints }}\n- Market Timing: {{$json.priorityResult.market_timing}}/10\n- Success Factors: {{$json.priorityResult.critical_success_factors}}\n\nYOUR EXPERTISE:\nYou excel at breaking down complex products into executable phases, identifying dependencies, and creating realistic timelines. You apply lean startup principles and agile methodologies.\n\nROADMAP FRAMEWORK:\n1. MVP (Minimum Viable Product): Core features that validate the concept and deliver immediate value\n2. Phase 2 (Growth): Features that scale usage and improve user experience\n3. Phase 3 (Scale): Advanced features for market leadership and expansion\n4. Consider technical debt, user feedback cycles, and market response\n\nTIMELINE CONSIDERATIONS:\n- Account for development complexity, team capacity, and market windows\n- Include buffer time for testing, iterations, and unforeseen challenges\n- Balance speed-to-market with quality and user experience\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"mvp_features\": [\"Core feature 1\", \"Core feature 2\", \"Essential feature 3\"],\n    \"mvp_timeline\": \"2-3 months\",\n    \"mvp_success_metrics\": [\"Metric 1 with target\", \"Metric 2 with target\"],\n    \"phase2_features\": [\"Growth feature 1\", \"Enhancement 2\", \"Integration 3\"],\n    \"phase2_timeline\": \"4-6 months from start\",\n    \"phase2_success_metrics\": [\"Scale metric 1\", \"Engagement metric 2\"],\n    \"phase3_features\": [\"Advanced feature 1\", \"Platform expansion 2\"],\n    \"phase3_timeline\": \"8-12 months from start\",\n    \"phase3_success_metrics\": [\"Market metric 1\", \"Revenue metric 2\"],\n    \"dependencies\": [\n        {\n            \"prerequisite\": \"Feature A\",\n            \"dependent\": \"Feature B\",\n            \"reason\": \"Technical dependency explanation\"\n        }\n    ],\n    \"critical_path\": [\"MVP Feature 1 → Phase 2 Feature 1 → Phase 3 Feature 1\"],\n    \"parallel_development\": [\"Features that can be built simultaneously\"],\n    \"team_requirements\": {\n        \"mvp_phase\": [\"Role 1\", \"Role 2\", \"Skill requirement\"],\n        \"scaling_phase\": [\"Additional role 1\", \"Specialized skill 2\"]\n    },\n    \"risk_mitigation_plan\": [\n        {\n            \"risk\": \"Technical risk description\",\n            \"mitigation\": \"Specific action to reduce risk\",\n            \"timeline_impact\": \"Potential delay assessment\"\n        }\n    ],\n    \"resource_allocation\": {\n        \"development_effort\": \"% breakdown by phase\",\n        \"design_effort\": \"% breakdown by phase\",\n        \"testing_effort\": \"% breakdown by phase\"\n    },\n    \"go_to_market_timeline\": [\"Pre-launch activities\", \"Launch activities\", \"Post-launch activities\"],\n    \"iteration_plan\": \"Strategy for incorporating user feedback and market learnings\"\n}\n\nIMPORTANT: Be realistic about timelines and account for the stated constraints. Ensure MVP is truly minimal but viable. Respond ONLY with the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1488,
        32
      ],
      "id": "4e427116-13a9-4e5b-829a-34ee69745965",
      "name": "Roadmap Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1360,
        240
      ],
      "id": "7b9e9277-64cf-40c0-af88-499564d05f9a",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "bsCSqjnpkpQNoO5V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response safely\nconst aiResponse =\n    items[0]?.json?.output ??\n    items[0]?.json?.text ??\n    items[0]?.json?.response;\n\ntry {\n    let roadmapResult;\n\n    if (typeof aiResponse === 'string') {\n        let cleanResponse = aiResponse.trim();\n\n        // ✅ FIX 1: Extract JSON from fenced blocks instead of deleting it\n        const fencedMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n        if (fencedMatch) {\n            cleanResponse = fencedMatch[1].trim();\n        }\n\n        // ✅ FIX 2: Fallback – extract first JSON object if AI adds commentary\n        const jsonMatch = cleanResponse.match(/\\{[\\s\\S]*\\}/);\n        if (jsonMatch) {\n            cleanResponse = jsonMatch[0];\n        }\n\n        roadmapResult = JSON.parse(cleanResponse);\n    } else {\n        roadmapResult = aiResponse;\n    }\n\n    // ✅ FIX 3: Required fields with safe defaults\n    const requiredFields = {\n        mvp_features: [],\n        mvp_timeline: '3 months',\n        phase2_features: [],\n        phase2_timeline: '6 months',\n        phase3_features: [],\n        phase3_timeline: '12 months',\n        dependencies: [],\n        team_requirements: {},\n        mvp_success_metrics: [],\n        critical_path: []\n    };\n\n    for (const [field, defaultValue] of Object.entries(requiredFields)) {\n        if (!(field in roadmapResult)) {\n            roadmapResult[field] = defaultValue;\n        }\n    }\n\n    // ✅ FIX 4: Normalize array fields\n    const arrayFields = [\n        'mvp_features',\n        'phase2_features',\n        'phase3_features',\n        'dependencies',\n        'critical_path',\n        'parallel_development',\n        'mvp_success_metrics',\n        'phase2_success_metrics',\n        'phase3_success_metrics',\n        'go_to_market_timeline'\n    ];\n\n    for (const field of arrayFields) {\n        roadmapResult[field] = Array.isArray(roadmapResult[field])\n            ? roadmapResult[field]\n            : [];\n    }\n\n    // ✅ FIX 5: Ensure nested objects exist\n    if (typeof roadmapResult.team_requirements !== 'object' || Array.isArray(roadmapResult.team_requirements)) {\n        roadmapResult.team_requirements = {\n            mvp_phase: ['Product Manager', 'Frontend Developer', 'Backend Developer'],\n            scaling_phase: ['UI/UX Designer', 'DevOps Engineer', 'QA Engineer']\n        };\n    }\n\n    if (typeof roadmapResult.resource_allocation !== 'object' || Array.isArray(roadmapResult.resource_allocation)) {\n        roadmapResult.resource_allocation = {\n            development_effort: '60% MVP, 30% Phase 2, 10% Phase 3',\n            design_effort: '40% MVP, 35% Phase 2, 25% Phase 3',\n            testing_effort: '50% MVP, 30% Phase 2, 20% Phase 3'\n        };\n    }\n\n    // ✅ FIX 6: Safe summary generation\n    const mvpFeatureCount = Array.isArray(roadmapResult.mvp_features)\n        ? roadmapResult.mvp_features.length\n        : 0;\n\n    roadmapResult.roadmap_summary =\n        `MVP (${roadmapResult.mvp_timeline}): ${mvpFeatureCount} features`;\n\n    return [{\n        json: {\n            ...items[0].json,\n            roadmapResult\n        }\n    }];\n\n} catch (error) {\n    console.error('Error parsing roadmap response:', error, aiResponse);\n    throw new Error(`Failed to parse roadmap agent response: ${error.message}`);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        32
      ],
      "id": "fa7c43a1-1e7f-426a-8f86-11b7aa19f0b0",
      "name": "Code Output Roadmap Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Executive Summary Agent specializing in synthesizing complex product analysis into actionable business recommendations for stakeholders and decision-makers.\n\nCOMPREHENSIVE ANALYSIS DATA:\n- Refined Product Idea: {{$json.ideationResult.refined_idea}}\n- Value Proposition: {{$json.ideationResult.value_proposition}}\n- Market Attractiveness: {{$json.marketResult.attractiveness_score}}/10\n- Priority Score: {{$json.priorityResult.calculated_score}} ({{$json.priorityResult.priority_tier}} Priority)\n- Market Summary: {{$json.marketResult.market_summary}}\n- MVP Timeline: {{$json.roadmapResult.mvp_timeline}}\n- Key Risks: {{$json.marketResult.risks}}\n- Success Probability: {{$json.priorityResult.success_probability}}%\n- Recommendation: {{$json.priorityResult.recommendation}}\n- Business Context: {{$json.businessContext}}\n- Resource Requirements: {{$json.roadmapResult.team_requirements}}\n\nYOUR EXPERTISE:\nYou excel at distilling complex analysis into clear, actionable insights that drive executive decision-making. You balance optimism with realism and provide concrete next steps.\n\nEXECUTIVE COMMUNICATION PRINCIPLES:\n1. Lead with the recommendation and key insights\n2. Provide clear rationale backed by data\n3. Address risks proactively with mitigation strategies\n4. Focus on business impact and ROI\n5. Include specific, measurable next steps\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"executive_summary\": \"Compelling 2-3 sentence summary highlighting the opportunity, recommendation, and expected outcome\",\n    \"key_insights\": [\n        \"Primary insight about market opportunity\",\n        \"Critical insight about competitive advantage\",\n        \"Important insight about execution feasibility\"\n    ],\n    \"recommendation\": \"Clear Go/No-Go recommendation with confidence level\",\n    \"business_case\": {\n        \"opportunity_size\": \"Market size and revenue potential assessment\",\n        \"competitive_advantage\": \"Key differentiators and defensibility\",\n        \"resource_investment\": \"Required investment in time, people, and budget\",\n        \"expected_roi\": \"Return on investment projection and timeline\"\n    },\n    \"immediate_next_steps\": [\n        \"Specific action item 1 with owner and timeline\",\n        \"Specific action item 2 with owner and timeline\",\n        \"Specific action item 3 with owner and timeline\"\n    ],\n    \"success_metrics\": [\n        \"Primary KPI with target and measurement method\",\n        \"Secondary KPI with target and measurement method\"\n    ],\n    \"risk_mitigation_plan\": [\n        {\n            \"risk\": \"Highest priority risk\",\n            \"impact\": \"High/Medium/Low\",\n            \"mitigation\": \"Specific mitigation strategy\",\n            \"owner\": \"Recommended responsible party\"\n        },\n        {\n            \"risk\": \"Secondary risk\",\n            \"impact\": \"High/Medium/Low\",\n            \"mitigation\": \"Specific mitigation strategy\",\n            \"owner\": \"Recommended responsible party\"\n        }\n    ],\n    \"decision_timeline\": \"Recommended timeframe for go/no-go decision\",\n    \"resource_requirements_summary\": \"High-level summary of team, budget, and time requirements\",\n    \"strategic_alignment\": \"Assessment of how this aligns with broader business strategy and goals\"\n}\n\nIMPORTANT: Be decisive and actionable. Avoid hedging language. Provide specific, measurable recommendations. Respond ONLY with the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2048,
        32
      ],
      "id": "9814919d-02cc-4bd7-98b1-b3a1dd5f1cea",
      "name": "Output Formatting Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1920,
        240
      ],
      "id": "a6b7aac4-83be-43da-bce4-2a575dfa21b1",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "bsCSqjnpkpQNoO5V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response safely\nconst aiResponse =\n    items[0]?.json?.output ??\n    items[0]?.json?.text ??\n    items[0]?.json?.response;\n\ntry {\n    let outputResult;\n\n    if (typeof aiResponse === 'string') {\n        let cleanResponse = aiResponse.trim();\n\n        // ✅ FIX 1: Extract JSON from fenced blocks instead of deleting it\n        const fencedMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n        if (fencedMatch) {\n            cleanResponse = fencedMatch[1].trim();\n        }\n\n        // ✅ FIX 2: Fallback – extract first JSON object if AI adds commentary\n        const jsonMatch = cleanResponse.match(/\\{[\\s\\S]*\\}/);\n        if (jsonMatch) {\n            cleanResponse = jsonMatch[0];\n        }\n\n        outputResult = JSON.parse(cleanResponse);\n    } else {\n        outputResult = aiResponse;\n    }\n\n    // ✅ FIX 3: Required fields with defaults (safe for empty arrays)\n    const requiredFields = {\n        executive_summary: 'Analysis completed for product opportunity assessment.',\n        recommendation: 'Further evaluation recommended.',\n        key_insights: [],\n        immediate_next_steps: [],\n        success_metrics: [],\n        decision_timeline: '2 weeks'\n    };\n\n    for (const [field, defaultValue] of Object.entries(requiredFields)) {\n        if (!(field in outputResult)) {\n            outputResult[field] = defaultValue;\n        }\n    }\n\n    // ✅ FIX 4: Ensure nested objects exist\n    if (typeof outputResult.business_case !== 'object' || Array.isArray(outputResult.business_case)) {\n        outputResult.business_case = {\n            opportunity_size: 'Market opportunity assessment pending',\n            competitive_advantage: 'Competitive positioning to be determined',\n            resource_investment: 'Resource requirements analysis needed',\n            expected_roi: 'ROI projection to be calculated'\n        };\n    }\n\n    // ✅ FIX 5: Normalize arrays safely\n    const arrayFields = [\n        'key_insights',\n        'immediate_next_steps',\n        'success_metrics',\n        'risk_mitigation_plan'\n    ];\n\n    for (const field of arrayFields) {\n        outputResult[field] = Array.isArray(outputResult[field])\n            ? outputResult[field]\n            : [];\n    }\n\n    // ✅ FIX 6: Normalize risk mitigation plan entries\n    outputResult.risk_mitigation_plan = outputResult.risk_mitigation_plan.map(risk => {\n        if (typeof risk === 'string') {\n            return {\n                risk,\n                impact: 'Medium',\n                mitigation: 'Mitigation strategy to be defined',\n                owner: 'Product team'\n            };\n        }\n\n        if (typeof risk !== 'object' || Array.isArray(risk)) {\n            return {\n                risk: 'Unknown risk',\n                impact: 'Medium',\n                mitigation: 'Mitigation strategy to be defined',\n                owner: 'Product team'\n            };\n        }\n\n        return {\n            risk: risk.risk ?? 'Unspecified risk',\n            impact: risk.impact ?? 'Medium',\n            mitigation: risk.mitigation ?? 'Mitigation strategy to be defined',\n            owner: risk.owner ?? 'Product team'\n        };\n    });\n\n    return [{\n        json: {\n            ...items[0].json,\n            outputResult\n        }\n    }];\n\n} catch (error) {\n    console.error('Error parsing output formatting response:', error, aiResponse);\n    throw new Error(`Failed to parse output formatting agent response: ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        32
      ],
      "id": "ee623e32-aa1a-4fa2-a4db-32aa51ed26d5",
      "name": "Code Output Formatting Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bnu6mBmpVw_mXWd-Clouopp_VsZ8hV7amTJIMk3_0TQ",
          "mode": "list",
          "cachedResultName": "Copy of AI Agent - Ideation and Product Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bnu6mBmpVw_mXWd-Clouopp_VsZ8hV7amTJIMk3_0TQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 432965560,
          "mode": "list",
          "cachedResultName": "Output Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bnu6mBmpVw_mXWd-Clouopp_VsZ8hV7amTJIMk3_0TQ/edit#gid=432965560"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "refined_idea": "={{ $json.executive_summary }}",
            "market_analysis": "={{ $json.opportunity_size }}",
            "business_value": "={{ $json.key_insights }}",
            "priority_score": "={{ $json.priority_score }}",
            "roadmap_phase": "={{ $json.immediate_next_steps }}",
            "idea_id": "={{ $json.idea_id }}",
            "success_metrics": "={{ $json.success_metrics }}",
            "effort_estimate": "={{ $json.resource_investment }}"
          },
          "matchingColumns": [
            "idea_id"
          ],
          "schema": [
            {
              "id": "idea_id",
              "displayName": "idea_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "refined_idea",
              "displayName": "refined_idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "market_analysis",
              "displayName": "market_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "roadmap_phase",
              "displayName": "roadmap_phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "success_metrics",
              "displayName": "success_metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "effort_estimate",
              "displayName": "effort_estimate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_value",
              "displayName": "business_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2816,
        32
      ],
      "id": "4d3f2b35-3582-4785-9c73-ac156d96c924",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ujz1IpogkrrVJgYr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate unique ID for this analysis session\nconst ideaId = `IDEA_${Date.now()}_${Math.random().toString(36).substr(2, 5)}`;\nconst analysisDate = new Date().toISOString().split('T')[0];\nconst analysisTime = new Date().toISOString().split('T')[1].split('.')[0];\n\n// Helper function to safely join arrays\nconst safeJoin = (arr, separator = '; ') => {\n  if (!arr || !Array.isArray(arr)) return '';\n  return arr.map(item =>\n    typeof item === 'object' ? JSON.stringify(item) : String(item)\n  ).join(separator);\n};\n\n// Helper function to extract nested object values\nconst extractNestedData = (obj, defaultValue = '') => {\n  if (!obj || typeof obj !== 'object') return defaultValue;\n  return Object.entries(obj)\n    .map(([key, value]) => `${key}: ${value}`)\n    .join('; ');\n};\n\n// Compile comprehensive results for Google Sheets\nconst finalOutput = {\n  // Primary Identifiers\n  idea_id: ideaId,\n  analysis_date: analysisDate,\n  analysis_time: analysisTime,\n\n  // Core Product Information\n  original_idea: $json.ideaDescription || '',\n  refined_idea: $json.ideationResult?.refined_idea || '',\n  value_proposition: $json.ideationResult?.value_proposition || '',\n  target_audience: $json.targetAudience || '',\n  business_context: $json.businessContext || '',\n\n  // Ideation Results\n  alternative_ideas: safeJoin($json.ideationResult?.alternatives),\n  core_problems: safeJoin($json.ideationResult?.core_problems),\n  key_features: safeJoin($json.ideationResult?.key_features),\n  innovation_score: $json.ideationResult?.innovation_score || 0,\n\n  // Market Analysis\n  market_summary: $json.marketResult?.market_summary || '',\n  market_size: $json.marketResult?.market_size || '',\n  market_attractiveness_score: $json.marketResult?.attractiveness_score || 0,\n  market_growth_rate: $json.marketResult?.market_growth_rate || '',\n  market_timing: $json.marketResult?.market_timing || '',\n  competitors: safeJoin($json.marketResult?.competitors?.map(c => `${c.name} (${c.strength})`)),\n  market_trends: safeJoin($json.marketResult?.market_trends),\n  market_opportunities: safeJoin($json.marketResult?.opportunities),\n  market_risks: safeJoin($json.marketResult?.risks),\n\n  // Prioritization Results\n  priority_score: $json.priorityResult?.calculated_score || 0,\n  priority_tier: $json.priorityResult?.priority_tier || 'Medium',\n  business_value_score: $json.priorityResult?.business_value || 0,\n  user_impact_score: $json.priorityResult?.user_impact || 0,\n  effort_required_score: $json.priorityResult?.effort_required || 0,\n  risk_level_score: $json.priorityResult?.risk_level || 0,\n  market_timing_score: $json.priorityResult?.market_timing || 0,\n  strategic_fit_score: $json.priorityResult?.strategic_fit || 0,\n  success_probability: $json.priorityResult?.success_probability || 0,\n  recommendation: $json.priorityResult?.recommendation || 'Review',\n  ice_impact: $json.priorityResult?.ice_score?.impact || 0,\n  ice_confidence: $json.priorityResult?.ice_score?.confidence || 0,\n  ice_ease: $json.priorityResult?.ice_score?.ease || 0,\n\n  // Roadmap Information\n  mvp_features: safeJoin($json.roadmapResult?.mvp_features),\n  mvp_timeline: $json.roadmapResult?.mvp_timeline || '',\n  phase2_features: safeJoin($json.roadmapResult?.phase2_features),\n  phase2_timeline: $json.roadmapResult?.phase2_timeline || '',\n  phase3_features: safeJoin($json.roadmapResult?.phase3_features),\n  phase3_timeline: $json.roadmapResult?.phase3_timeline || '',\n  dependencies: safeJoin($json.roadmapResult?.dependencies?.map(d => `${d.prerequisite} → ${d.dependent}`)),\n  critical_path: safeJoin($json.roadmapResult?.critical_path),\n  mvp_success_metrics: safeJoin($json.roadmapResult?.mvp_success_metrics),\n  team_requirements_mvp: safeJoin($json.roadmapResult?.team_requirements?.mvp_phase),\n  team_requirements_scale: safeJoin($json.roadmapResult?.team_requirements?.scaling_phase),\n  resource_allocation: extractNestedData($json.roadmapResult?.resource_allocation),\n\n  // Executive Summary & Output\n  executive_summary: $json.outputResult?.executive_summary || '',\n  final_recommendation: $json.outputResult?.recommendation || '',\n  key_insights: safeJoin($json.outputResult?.key_insights),\n  immediate_next_steps: safeJoin($json.outputResult?.immediate_next_steps),\n  success_metrics: safeJoin($json.outputResult?.success_metrics),\n  decision_timeline: $json.outputResult?.decision_timeline || '',\n\n  // Business Case\n  opportunity_size: $json.outputResult?.business_case?.opportunity_size || '',\n  competitive_advantage: $json.outputResult?.business_case?.competitive_advantage || '',\n  resource_investment: $json.outputResult?.business_case?.resource_investment || '',\n  expected_roi: $json.outputResult?.business_case?.expected_roi || '',\n  strategic_alignment: $json.outputResult?.strategic_alignment || '',\n\n  // Risk Management\n  risk_mitigation_strategies: safeJoin($json.outputResult?.risk_mitigation_plan?.map(r => `${r.risk}: ${r.mitigation}`)),\n  high_priority_risks: safeJoin($json.outputResult?.risk_mitigation_plan?.filter(r => r.impact === 'High')?.map(r => r.risk)),\n\n  // Input Constraints & Context\n  original_constraints: $json.constraints || '',\n  timeline_preference: $json.timelinePreference || '',\n\n  // Analysis Metadata\n  total_features_identified: (($json.roadmapResult?.mvp_features?.length || 0) + \n                              ($json.roadmapResult?.phase2_features?.length || 0) + \n                              ($json.roadmapResult?.phase3_features?.length || 0)),\n  analysis_confidence: $json.priorityResult?.confidence_level || 'Medium',\n\n  // Formatted Summaries for Quick Review\n  quick_summary: `${$json.priorityResult?.priority_tier || 'Medium'} Priority (Score: ${$json.priorityResult?.calculated_score || 0}) - ${$json.outputResult?.recommendation || 'Review'}`,\n  roadmap_summary: $json.roadmapResult?.roadmap_summary || 'Roadmap analysis pending',\n  overall_assessment: `Market: ${$json.marketResult?.attractiveness_score || 0}/10, Priority: ${$json.priorityResult?.priority_tier || 'Medium'}, Recommendation: ${$json.outputResult?.recommendation || 'Review'}`\n};\n\n// Add workflow metadata\nfinalOutput.workflow_version = '2.0';\nfinalOutput.agent_model = 'gemini-2.0-flash-exp';\nfinalOutput.processing_status = 'Complete';\n\nreturn [{ json: finalOutput }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        32
      ],
      "id": "759be2b9-ce61-45e9-a306-5a42db982cfe",
      "name": "Data Preparation Code Node"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code Output Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ideation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ideation Agent": {
      "main": [
        [
          {
            "node": "Code Output Ideation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Output Google Sheet": {
      "main": [
        [
          {
            "node": "Ideation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Output Ideation Agent": {
      "main": [
        [
          {
            "node": "Market Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Market Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Market Research Agent": {
      "main": [
        [
          {
            "node": "Code Output Market Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Output Market Research Agent": {
      "main": [
        [
          {
            "node": "Prioritization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Prioritization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prioritization Agent": {
      "main": [
        [
          {
            "node": "Code Output Prioritization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Output Prioritization Agent": {
      "main": [
        [
          {
            "node": "Roadmap Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Roadmap Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Roadmap Agent": {
      "main": [
        [
          {
            "node": "Code Output Roadmap Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Output Roadmap Agent": {
      "main": [
        [
          {
            "node": "Output Formatting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Output Formatting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Formatting Agent": {
      "main": [
        [
          {
            "node": "Code Output Formatting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Output Formatting Agent": {
      "main": [
        [
          {
            "node": "Data Preparation Code Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Preparation Code Node": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ea6c28e1-482c-42dd-8151-a079e202361a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0603c90153d887b4ef3373f413750dcc2d44e994a0fc5b177de170be4281e847"
  },
  "id": "RQuNH7w0JG0H7sCIeLP9C",
  "tags": []
}